#
# curl -SL https://raw.githubusercontent.com/danpawlik/openwrt-builder/master/configs/mediatek/mt7988a/bpi-r4 > .config
# later, eg.:
# curl -SL https://raw.githubusercontent.com/danpawlik/openwrt-builder/master/configs/common/main-router >> .config
#

CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_bananapi_bpi-r4=y
CONFIG_CPU_TYPE="cortex-a73"
# CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y

# Compiler Optimization
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O3 -pipe -mcpu=cortex-a73+crypto+crc+rdma"
CONFIG_GCC_USE_GRAPHITE=y
CONFIG_USE_GC_SECTIONS=y
CONFIG_USE_LTO=y
CONFIG_USE_MOLD=y
CONFIG_ZLIB_OPTIMIZE_SPEED=y
CONFIG_ZSTD_OPTIMIZE_O3=y

# Kernel Config
# CONFIG_COLLECT_KERNEL_DEBUG=y
# CONFIG_KERNEL_PERF_EVENTS=y
# CONFIG_KERNEL_DYNAMIC_DEBUG=y
# CONFIG_KERNEL_ARM_PMU=y

CONFIG_EXPERIMENTAL=y
CONFIG_BUILD_PATENTED=y

# Hardening build options
CONFIG_PKG_ASLR_PIE_ALL=y
CONFIG_GCC_DEFAULT_PIE=y
CONFIG_PKG_CC_STACKPROTECTOR_STRONG=y
CONFIG_KERNEL_CC_STACKPROTECTOR_STRONG=y
CONFIG_PKG_FORTIFY_SOURCE_2=y

# SSH Configuration
CONFIG_PACKAGE_dropbear=n
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssh-moduli=y

# SSL Configuration
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_libustream-mbedtls=n
CONFIG_PACKAGE_libopenssl=y
CONFIG_LUA_ECO_OPENSSL=y
CONFIG_LUA_ECO_MBEDTLS=n
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_PACKAGE_luci-ssl-openssl=y

# Additional Packages
CONFIG_PACKAGE_btop=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-banip=y

# Disable default packages
CONFIG_PACKAGE_kmod-mt7996-firmware=n
CONFIG_PACKAGE_kmod-mt7915e=n
CONFIG_PACKAGE_kmod-phy-aquantia=n
CONFIG_PACKAGE_wpad-basic-mbedtls=n
CONFIG_PACKAGE_ppp=n
CONFIG_PACKAGE_ppp-mod-pppoe=n
