name: W1700k Lumos and release

on:
  workflow_dispatch:

env:
  REMOTE_REPOSITORY: glassd00r/openwrt
  REMOTE_BRANCH: w1700k-lumos
  CONFIG_FILE: w1700k-lumos.config
  CUSTOM_FILES_PATH: files/
  RELEASE_PREFIX: W1700k_Lumos
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:  
  build:
    name: Build OpenWrt
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Free disk space on runner
        run: |
          sudo rm -rf \
            "$AGENT_TOOLSDIRECTORY" \
            /opt/ghc \
            /opt/google/chrome \
            /opt/microsoft/msedge \
            /opt/microsoft/powershell \
            /opt/pipx \
            /usr/lib/mono \
            /usr/local/julia* \
            /usr/local/lib/android \
            /usr/local/lib/node_modules \
            /usr/local/share/chromium \
            /usr/local/share/powershell \
            /usr/share/dotnet \
            /usr/share/swift
          df -h
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt full-upgrade -y
          sudo apt install -y build-essential clang flex bison g++ gawk gcc gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget
      - name: Checkout remote repository
        uses: actions/checkout@v6
        with:
          repository: ${{ env.REMOTE_REPOSITORY }}
          ref: ${{ env.REMOTE_BRANCH }}
      - name: Checkout current repository
        uses: actions/checkout@v6
        with:
          path: "custom_repo"
      - name: Update and install feeds
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a
      - name: Configure firmware image
        run: |
          mv custom_repo/${{ env.CONFIG_FILE }} .config
          make defconfig
      - name: Include custom files
        run: |
          mkdir -p ${{ env.CUSTOM_FILES_PATH }}
          mv custom_repo/BPI-r4/${{ env.CUSTOM_FILES_PATH }}* ${{ env.CUSTOM_FILES_PATH }}
      - name: Download dependencies
        run: make -j$(($(nproc)+1)) download
      - name: Build the firmware image
        run: make -j$(($(nproc)+1)) V=sc world
      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: airoha_an7581-images
          path: bin/targets/airoha/an7581

  release:
    needs: build
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          name: airoha_an7581-images
          path: ./firmware
      - name: Create Release
        run: |
          VERSION="${{ env.RELEASE_PREFIX }}-$(date +'%Y.%m.%d')"
          # Check if the release already exists
          if gh release view "$VERSION" &>/dev/null; then
            gh release delete "$VERSION" --cleanup-tag -y
          fi
          # Create the new release
          FILES_TO_UPLOAD=$(find ./firmware -maxdepth 1 -type f)
          gh release create "$VERSION" $FILES_TO_UPLOAD \
            --title "$VERSION"
